<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.fund.mapper.ReceiptDetailMapper">

    <!-- 根据主表ID删除详情记录 -->
    <delete id="deleteByPid" parameterType="java.lang.String">
        DELETE FROM imy_info WHERE pid = #{pid}
    </delete>

</mapper>