<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.storemanagement.mapper.RecordMapper">

    <insert id="insertBatch">
        insert into record (id, type, source, time, user, info) VALUES
        <foreach collection="recordList" item="item" separator=",">
            (#{item.id},#{item.type},#{item.source},#{item.time},#{item.user},#{item.info})
        </foreach>
    </insert>
</mapper>
