<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.storemanagement.mapper.ServeMapper">

    <update id="updateById">
        UPDATE serve
        <set>
            <if test="goods != null">
                goods = #{goods},
            </if>
            <if test="attr != null">
                attr = #{attr},
            </if>
            <if test="nums != null">
                nums = #{nums},
            </if>
        </set>
        WHERE id = #{id}
    </update>
</mapper>