<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeroone.star.storemanagement.mapper.SwapMapper">
    <select id="selectSwap"
            parameterType="com.zeroone.star.storemanagement.entity.SwapDO"
            resultType="java.lang.String">
        select id FROM swap t WHERE
                t.time=#{swapDO.time}
            and t.number = #{swapDO.number}
            and t.total = #{swapDO.total}
            and t.cost = #{swapDO.cost}
        <if test="swapDO.people != null and swapDO.people != ''">
            and t.people = #{swapDO.people}
        </if>
        <if test="swapDO.data!= null and swapDO.data!= ''">
            and t.data = #{swapDO.data}
        </if>
    </select>

    <select id="queryTransfer"
            parameterType="com.zeroone.star.project.query.j2.store.TransferQuery"
            resultType="com.zeroone.star.project.dto.j2.store.TransferListDTO">
        select
        t2.id,
        t1.frame,
        t3.name, <!--用别名获取goods表里的字段-->
        t1.time,
        t1.number,
        t1.total,
        t1.cost,
        t1.people,
        t1.examine,
        t1.cse,
        t1.user,
        t1.data
        from swap t1
        left join swap_info t2 on t1.id = t2.pid  <!--用t2代指swap_info表-->
        left join goods t3 on t2.goods = t3.id  <!--用t3代指goods表-->
        where 1=1
        <if test="query.name != null and query.name != ''">
            and t3.name = #{query.name} <!--商品名称-->
        </if>

        <if test="query.number != null and query.number != ''">
            and t1.number = #{query.number}  <!--单据编号-->
        </if>

        <if test="query.startTime != null">
            and t1.time <![CDATA[ >= ]]> #{query.startTime} <!--起始时间-->
        </if>

        <if test="query.endTime != null">
            and t1.time <![CDATA[ <= ]]> #{query.endTime} <!--结束时间-->
        </if>

        <if test="query.people != null and query.people != ''">
            and t1.people = #{query.people} <!--关联人员-->
        </if>

        <if test="query.examine != null">
            and t1.examine = #{query.examine} <!--审核状态-->
        </if>

        <if test="query.cse != null">
            and t1.cse = #{query.cse} <!--费用状态-->
        </if>

        <if test="query.user != null and query.user != ''">
            and t1.user = #{query.user}  <!--制单人-->
        </if>

        <if test="query.data != null and query.data != ''">
            and t1.data = #{query.data} <!--备注信息-->
        </if>
        <!--根据id降序排序-->
        order by t1.id desc
    </select>

    <!--插入swap表的key字段-->
    <sql id="key">
        <trim suffixOverrides=",">
            <if test="time != null">time,</if>
            <if test="number != null and number != ''">number,</if>
            <if test="total != null">total,</if>
            <if test="cost != null">cost,</if>
            <if test="people != null and people != ''">people,</if>
            <if test="logistics != null">logistics,</if>
            <if test="file != null and file != ''">file,</if>
            <if test="data != null and data != ''">data,</if>
            id,
            frame,
            user
        </trim>
    </sql>
    <!--插入swap表的value字段-->
    <sql id="value">
        <trim suffixOverrides=",">
            <if test="time != null">#{time},</if>
            <if test="number != null and number != ''">#{number},</if>
            <if test="total != null">#{total},</if>
            <if test="cost != null">#{cost},</if>
            <if test="people != null and people != ''">#{people},</if>
            <if test="logistics != null">#{logistics,typeHandler=com.zeroone.star.storemanagement.handler.JacksonTypeHandler},</if>
            <if test="file != null and file != ''">#{file},</if>
            <if test="data != null and data != ''">#{data},</if>
            #{id},
            #{frame},
            #{user}
        </trim>
    </sql>
    <!-- 插入 swap 主表 -->
    <insert id="insertSwap"
            parameterType="com.zeroone.star.storemanagement.entity.SwapDO"
            >
        INSERT INTO swap
        (<include refid="key"/>)
        VALUES
        (<include refid="value"/>)
    </insert>

    <update id="updateSwap" parameterType="com.zeroone.star.storemanagement.entity.SwapDO">
        UPDATE swap
        <set>
            <if test="swap.time != null">time = #{swap.time},</if>
            <if test="swap.number != null and swap.number != ''">number = #{swap.number},</if>
            <if test="swap.total != null">total = #{swap.total},</if>
            <if test="swap.cost != null">cost = #{swap.cost},</if>
            <if test="swap.people != null and swap.people != ''">people = #{swap.people},</if>
            <if test="swap.logistics != null and swap.logistics != ''">logistics = #{swap.logistics},</if>
            <if test="swap.file != null and swap.file != ''">file = #{swap.file},</if>
            <if test="swap.data != null and swap.data != ''">data = #{swap.data},</if>
        </set>
        WHERE id = #{swap.id}
    </update>

    <update id="auditBatchStatus">
        UPDATE swap
        SET examine = #{operation}
        WHERE id IN
        <foreach collection="pidList" item="pid" open="(" separator="," close=")">
            #{pid}
        </foreach>
    </update>

    <delete id="deleteByIdList">
        DELETE FROM swap
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
              #{id}
        </foreach>
    </delete>

    <select id="getTransferListDTOList"
            resultType="com.zeroone.star.project.dto.j2.store.TransferListDTO">
        select id,frame, time, number, total, cost, people, examine, cse, user, data
        from swap
        where id in
        <foreach collection="idList" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="getStatusByIds" resultType="java.util.Map">
        SELECT id, CAST(examine AS SIGNED) as status
        FROM swap
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <delete id="deleteBatchIds">
        DELETE FROM swap
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>