# 默认 淘宝镜像
registry=https://registry.npmmirror.com/

# 阮喵喵 的依赖包必须安装最新的 故镜像源只能选择官方源
@ruan-cat:registry=https://registry.npmjs.org/

# vercel 的依赖包必须安装最新的 故镜像源只能选择官方源
@vercel:registry=https://registry.npmjs.org/

# 依赖提升
# https://pnpm.io/zh/npmrc#shamefully-hoist
shamefully-hoist=true

# 关闭严格的对等依赖
# https://pnpm.io/zh/npmrc#strict-peer-dependencies
strict-peer-dependencies=false

# 跨平台脚本
# https://pnpm.io/zh/cli/run#shell-emulator
shell-emulator=true

# 不自动安装对等依赖
# https://pnpm.io/zh/npmrc#auto-install-peers
auto-install-peers=false

# 可以连接本地的包 让monorepo的包可以互相引用
# https://pnpm.io/zh/cli/recursive#--link-workspace-packages
link-workspace-packages=deep

# 处理类型识别失败的故障
# https://blog.csdn.net/qq_41499782/article/details/128723054
public-hoist-pattern[]=*vue*

# 忽略根包检查 允许在不增加 -w 选项的情况下在工作区根目录中安装包
# https://pnpm.io/zh/cli/add#--ignore-workspace-root-check
# https://juejin.cn/post/7215608036394827836
# https://blog.csdn.net/qq_40028324/article/details/131081148
ignore-workspace-root-check = true
