<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zeroone.star.reportmanagement.mapper.fundreport.SupplierStatementMapper">

    <!-- 主查询 -->
    <select id="selectSupplierStatementMain"
            resultMap="SupplierStatementMap">
        select
        '采购单' as table_type,
        frame,
        time,
        number,
        total,
        (actual - money) as discount_amount,
        actual,
        money,
        actual,
        data,
        id
        from buy
        <where>
            supplier like #{name}
            and time between #{beginTime} and #{endTime}
        </where>

        union all

        select
        '采购退货单' as table_type,
        frame,
        time,
        number,
        total,
        (actual - money) as discount_amount,
        actual,
        money,
        actual,
        data,
        id
        from bre
        <where>
            supplier like #{name}
            and time between #{beginTime} and #{endTime}
        </where>

        union all

        select
        '采购订单' as table_type,
        frame,
        time,
        number,
        total,
        null as discount_amount,
        actual,
        null as money,
        actual,
        data,
        id
        from bor
        <where>
            supplier like #{name}
            and time between #{beginTime} and #{endTime}
        </where>
    </select>

    <!-- 结果映射 -->
    <resultMap id="SupplierStatementMap"
               type="com.zeroone.star.project.dto.j5.fundreport.SupplierStatementMainDTO">
        <result property="tableType" column="table_type"/>
        <result property="frame" column="frame"/>
        <result property="time" column="time"/>
        <result property="number" column="number"/>
        <result property="total" column="total"/>
        <result property="discountAmount" column="discount_amount"/>
        <result property="actual" column="actual"/>
        <result property="money" column="money"/>
        <result property="actual2" column="actual"/>
        <result property="data" column="data"/>

        <collection property="details"
                    ofType="com.zeroone.star.project.dto.j5.fundreport.SupplierStatementDetailDTO"
                    column="{mainId=id,tableType=table_type}"
                    select="selectDetailsByMain"/>
    </resultMap>

    <!-- 明细查询 -->
    <select id="selectDetailsByMain"
            resultType="com.zeroone.star.project.dto.j5.fundreport.SupplierStatementDetailDTO">
        <choose>
            <when test="tableType == '采购单'">
                select goods, price, nums
                from buy_info
                where pid = #{mainId}
            </when>
            <when test="tableType == '采购退货单'">
                select goods, price, nums
                from bre_info
                where pid = #{mainId}
            </when>
            <when test="tableType == '采购订单'">
                select goods, price, nums
                from bor_info
                where pid = #{mainId}
            </when>
        </choose>
    </select>

</mapper>
